/* Be fixed to the top.
Tip: add a bunch of empty or placeholder lines or paragraphs to the body so you can see how it behaves when you scroll vertically.
Be 120 pixels in height
Be the full width of the viewport.
Have a z-index that means the nav will always be stacked on top
Have #4056A1 as its default background colour.
Have #FFFFF as its default font colour
The <span> within the <nav> has Bungee as it's default font-family
The inner content should not be touching the viewport edge on any side and should remain 1.5ems away from all edges */


nav {
  height: 120px;
  width: 100%;
  z-index: 10;
  background-color: #4056A1;
  color: '#FFFFF';
  padding: 1.5em;
  position: fixed;
  top: 0;
}

#logo {
  font-family: 'Bungee', 'sans-serif';
  color: white;
  position: relative;
  top: 5px;
}

.arrow {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  margin-right: 7rem;
  right: 0;
  color: #ff6c00;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

.title-write-tweet{
  color: white;
  font-family: 'Source Sans Pro', 'sans serif';
  position: relative;
  top: -1rem;
  
}

.arrow-pointer {
  float: right;
}